<ion-side-menus>
  <ion-side-menu-content>      
      <ion-nav-bar class="bar bar-positive">
          <ion-nav-buttons side="left">
              <button class="button button-icon button-clear ion-navicon"
              menu-toggle="center"></button>

          </ion-nav-buttons>
      
      </ion-nav-bar>

      <ion-nav-view name="menuContent"></ion-nav-view>

  </ion-side-menu-content>
  <ion-side-menu side="left">
   <ion-content>
        <ion-item menu-close href="#/app/cadastro/cliente">
            Cadastro clientes
        </ion-item>
        <ion-item menu-close href="#/app/cadastro/produto">
            Cadastro produtos
        </ion-item>
        <ion-item menu-close href="#/app/cadastro/venda">
            Cadastro vendas
        </ion-item>
    </ion-content>    
  </ion-side-menu>
</ion-side-menus>  