<ion-view>
    <ion-nav-title>Cadastro Produtos</ion-nav-title>
    <ion-content>
        <form ng-submit="cadastro()">
			<div class="list">
				<label class="item item-input item-stacked-label">
			    	<span class="input-label">Produto</span>
			    	<input type="text" ng-model="produto.nome" placeholder="Nome do produto">
			  	</label>
			  	<label class="item item-input item-stacked-label">
			    	<span class="input-label">Preco</span>
			    	<input type="number" ng-model="produto.valor" placeholder="Preço do produto">
			  	</label>			  	
			</div>
			<button class="button button-full button-positive" type="submit">
				Enviar
			</button>
        </form>
		<ul class="list">
			<li class="item" ng-repeat="produto in produtos">
				{{produto.nome}} - {{produto.valor}}
			</li>
		</ul>
    </ion-content>    
</ion-view>